[submodule "nuenenen-backend"]
	path = nuenenen-backend
	url = https://github.com/mischahaenen/nuenenen-backend
[submodule "nuenenen-frontend"]
	path = nuenenen-frontend
	url = https://github.com/mischahaenen/nuenenen-frontend
